<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/app.css" />

    <title>Pokedex Masters Index</title>
  </head>
  <body>
    <h1>Welcome to the Pokémon Masters Index!</h1>
    <br /><br />
    <ul class="users">
      <% for( let i = 0; i < users.length; i++ ) { %>
      <li>
        <h2><%= users[i].name %></h2>
        <a href="/users/profile/<%=i; %>/"> Edit</a><br />
        <form action="/users/<%=i; %>?_method=DELETE" method="POST">
          <input class="buttonize" type="submit" value="Delete" />
        </form>
      </li>
      <% } %>
    </ul>
    <br />
    <a href="../users/signup">Sign Up</a>
    <a href="../users/login">Log In</a><br /><br />
    <a href="../pokemon">Back to Pokédex</a>
  </body>
</html>
